.BackPage {
  width: 100%;
  height: auto;
  background-color: beige;
  display: flex;
  justify-content: center;
 
}

.BackInner {
  width: 1170px;
  height: auto;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.MarvelMovieTitle {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
}
.MarvelGridContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}


.MarvelImgContainer {
  width: 100%;
  height: 345px;
  background-color: blue;
  display: flex;
}

.MarvelImgThumbnail {
  width: 100%;
  height: 291px;
  background-color: bisque;
}

.MarvelImgThumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;        
}
